[run]
omit =
    **/__init__.py
    **/__main__.py
    **/_imports.py
    **/cli.py
    **/constants.py
    **/extension.py
    **/score.py
    */.*
    /private/*
    /tmp/*
    ads/automl/*
    ads/common/analyzer.py
    ads/common/artifact/*
    ads/common/function/*
    ads/dataflow/*
    ads/dataset/dask_series.py
    ads/dataset/factory.py
    ads/environment/*
    ads/experiments/*
    ads/explanations/*
    ads/templates/*
    ads/type_discovery/*
    docs/*
    tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
    raise AssertionError
    raise NotImplementedError
omit =
    **/__init__.py
    **/__main__.py
    **/_imports.py
    **/cli.py
    **/constants.py
    **/extension.py
    **/score.py
    */.*
    /private/*
    /tmp/*
    ads/automl/*
    ads/common/analyzer.py
    ads/common/artifact/*
    ads/common/function/*
    ads/dataflow/*
    ads/dataset/dask_series.py
    ads/dataset/factory.py
    ads/environment/*
    ads/experiments/*
    ads/explanations/*
    ads/templates/*
    ads/type_discovery/*
show_missing = true
skip_empty = true
precision = 2

[html]
directory = htmlcov
