-r test-requirements.txt
-e ".[bds,data,geo,notebook,opctl,optuna,text,viz]"
arff
category_encoders
dask
fastparquet
imbalanced-learn
lxml
mysql-connector-python
nltk
pdfplumber
py4j
pyarrow
pyspark
tables
xlrd>=1.2.0
