-r test-requirements.txt
-e ".[bds,data,geo,huggingface,llm,notebook,onnx,opctl,optuna,pii,spark,tensorflow,text,torch,viz]"
arff
category_encoders
cohere
dask
faiss-cpu
fastparquet>=2024.2.0
imbalanced-learn
lxml
mysql-connector-python
nltk
opensearch-py
pdfplumber
py4j
pyarrow
statsmodels>=0.14.1
tables
xlrd>=1.2.0
