-r test-requirements.txt
-e ".[opctl]"
-e ".[all-optional]"
pyspark
arff
category_encoders
pdfplumber
dask
nltk
py4j
tables
xlrd>=1.2.0
lxml
fastparquet
imbalanced-learn
pyarrow
mysql-connector-python
