include LICENSE.txt
include THIRD_PARTY_LICENSES.txt
include ads/ads_version.json
include ads/common/*.json
include ads/feature_engineering/*.json
include ads/templates/*.jinja2
include ads/common/function/*.yaml
include ads/common/artifact/*.*
include ads/model/runtime/schemas/*.yaml
include ads/jobs/schema/**
include ads/opctl/index.yaml
include ads/opctl/operators/**/*.py
include ads/opctl/docker/**
include ads/opctl/conda/manifest_template.yaml
include ads/opctl/conda/config.yaml
include ads/opctl/config/diagnostics/**/*.yaml
include ads/opctl/templates/*.jinja2
global-exclude tests/**
global-exclude notebooks/**
exclude tests/**
exclude notebooks/**
exclude build/lib/tests/**
exclude build/lib/notebooks/**
exclude benchmark/**
include ads/ads
include ads/model/common/*.*