# Include here only libraries required to run test methods, like mock, pytest, coverage etc.
# Add dependencies for ADS to pyproject.toml [project.optional-dependencies] 'testsuite' section.
-e .
click
coverage
faker
mock
parameterized
pip
pytest
pytest-cov
pytest-xdist