-e .
click
coverage
faker
mock
pip
pytest
pytest-codecov
pytest-xdist
darts
plotly
docker
conda-pack
inflection
nbconvert
nbformat
oci-cli
py-cpuinfo
rich
autots[additional]
datapane
holidays==0.21.13
neuralprophet
numpy
optuna==2.9.0
oracle-automlx[forecasting]==23.2.3
pmdarima
prophet
shap
sktime
statsmodels
